/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*Universal & body styling*/
body{
	margin: 0 5%;
}

h2, h3, h4, h5{
	font-family: 'Fredoka One', cursive;
}

/*navigation*/

nav{
	background-color: lightgray;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	padding: 0% 5%;
}

nav a{
	display: inline-block;
	width: 10%;
	padding: 1%;
	margin: 2% 1% 1% 1%;
	color: gray;
	text-decoration: none;
	font-size: 1.1vw;
}

nav a:hover{
	color: white;
	transition: .3s;
}


.logo{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5%;
	width: 14%;
}


/*header*/
header{
	margin: 5% 0;
}

.header-left{
	display: inline-block;	
	text-align: center;
	margin: 0% 0% 10% 0%;
	width: 52%;
	vertical-align: top;
}

h1{
	font-size: 8vw;
	text-align: center;
	margin-top: 30%;
	animation-name: h1Flicker;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

@keyframes h1Flicker{
	0%{
		color: black;
	}
	10%{
		color: firebrick;
	}
	20%{
		color: darkorange;
	}
	30%{
		color: gold;
	}
	40%{
		color: limegreen;
	}
	50{
		color: turquoise;
	}
	60%{
		color: blue;
	}
	70%{
		color: darkviolet;
	}
	80%{
		color: mediumvioletred;
	}
	90%{
		color: #9F1C6E;
	}
	100%{
		color: #402034;
	}
}

button{
	border: 1px solid black;
	background-color: white;
	font-family: 'Titillium Web',  san-serif;
	font-size: 1.3vw;
	height: 100%;
	padding: 1% 10%;
	transition: .3s;
}

button:hover{
	background-color: black;
	color: white;
}

header img{
	display: inline-block;
	width: 47%;
	padding: 5% 0%;
}

/*content - border*/
.content{
	border-top: 2px solid darkgray;
	border-bottom: 2px solid darkgray;
}


/*content - top text*/

#features, #about{
	display: inline-block;
	width: 49%;
	margin: 5% 0;
	font-size: 1.25vw;
}


/*content - image*/
.middle-img{
	width: 100%;
}


/*content - bottom text*/
#services, #product, #vision{
	display: inline-block;
	width: 30%;
	margin: 5% 1%;
	font-size: 1.25vw;
}


/*contact*/
#contact{
	margin: 5% 0;
	font-size: 1.25vw;
}


/*copyright*/
.copyright{
	text-align: center;
	font-size: .8em;
	margin-bottom: 10%;
	font-size: 1.2vw;
}